body {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    font-family: 'Press Start 2P', cursive;
    color: rgb(85, 202, 85);
    background-image: url('assets/background/background1.png')

}

#start{

    margin-top: 15px;
}

